* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
}

.main-wrapper {
  height: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* @media only screen and (max-width: 500px) {
  .App {
    flex-direction: column;
  } */
/* } */
